[submodule "ext/fnv-java"]
	path = ext/fnv-java
	url = https://github.com/jakedouglas/fnv-java.git
[submodule "ext/CookwareCommon"]
	path = ext/CookwareCommon
	url = https://github.com/kodycook/CookwareCommon.git
